// Main Pallette
$primary: #5063EE;
$primaryHover: #4454CA;
$primaryActive: #3643A1;
$primaryFocus: #5063EE;
$primaryDisabled: #B9C1F9;

$secondary: #00C9E9;
$secondaryHover: #00C9E9;
$secondaryActive: #00C9E9;
$secondaryFocus: #00C9E9;
$secondaryDisabled: #00C9E9;


// Action Pallette
$neutral: #919EAB;
$informational: #47C1BF;
$sucess: #50B83C;
$warning: #EEC200;
$critical: #F32F00;

// Complementary Pallette
$deepBlue: #0E1B38; //fundo gráfico
$deepKoamaru: #2D3365; // Cor secundária do gráfico
$lightSlateBlue: #818FFC;
$royalBlue: #5063EE;
$lightBlue: #E2F2FA;
$vermelhoClaro: #FABBAF;

// UI Grays
$lightGray: #F1F3F4;
$middleGray: #637381;
$darkGray: #212B36;
$softWhite: rgba(255,255,255,0.2);
$white: rgba(255,255,255,1);
$background: #F8F8F8;

// UI Elements
$shadow: 0 0 0 1px rgba(63,63,68,0.05), 0 1px 3px 0 rgba(63,63,68,0.15);
$link: #007ACE;

//Media Queries
$phone: 320px;
$tablet: 768px;
$desktop: 1024px;
$desktophd: 1336px;

//Fonts
$font-stack: 'SFProText-Regular';

//Products
$acucar: #EB6188;
$milho: #FFBB00;
$soja: #2FCC71;
