@import 'Common/Assets/Styles/variables.scss';

.page-header {
  background-color: $darkGray;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding: 0px 10px;

  .Polaris-Button--plain {
    fill: $lightGray;
    color: $lightGray;
  }

  .Polaris-Button--plain:hover,
  .Polaris-Button--plain:focus,
  .Polaris-Button--plain:active {
    fill: $middleGray;
    color: $middleGray;
  }
}
