@import "../../assets/variables.scss";

.calendar-buttonDate {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
  min-width: 170px;
  height: 46px;
  align-items: center;
  display: flex;
  border-radius: 3px;
  
  .icon {
    padding: 0 12px;
  }

  .text {
    width: 100%;
    padding-right: 12px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    color: $white;
  }
}

.calendar-date-picker {
  padding: 20px 15px;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

